.link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.active {
    color: rgb(45, 0, 87);
}

.header {
    height: 50px;
    background-color: rgb(176, 134, 215);
    display: flex;
    align-items: center;

}

.nav {
    display: flex;
    gap: 20px;
    padding-left: 50px;
}